.wrapper {
  display: grid;
  grid-template-columns: repeat(9,1fr);
  align-items: end;
  grid-row-gap: 1em;
}

.events-container {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(4, 25%);
  grid-template-areas: 
    "event event event event"
    "event event event event"
    "event event event event"
    "event event event event";
  border-style: solid;
  border-width: 5px;
}


.header {
  display: grid;
  grid-template-columns: 20% auto 50%;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: 
    "title title login"
    ".     search  . ";
  justify-content: stretch;

}

.form{
    width:500px;
    margin:0 auto;
}
.search { 
    padding:6px 15px 6px 30px;
    margin:3px; 
    outline:none;

}

.rounded { 
    border-radius:15px; 
    -moz-border-radius:15px; 
    -webkit-border-radius:15px; 
    outline:none;
}

.title {
  grid-area: title;
}

.login {
  grid-area: login;
  
}

.search {
  grid-area: search;
}



