
/* Nav */

.navbar {
  margin-bottom: 1 rem;
}

.navbar a {
  font-weight: bold;
}

.navbar li:hover {
  color: white;
  text-decoration: underline;
  cursor: pointer;
}

.navbar-container {
  display: grid;
}