
body {
  background-color: #F8F8F8
}

/* Nav */

.navbar {
  margin-bottom: 1 rem;
} 

.navbar a {
  font-weight: bold;
}

.navbar li:hover {
  color: white;
  text-decoration: underline;
  cursor: pointer;
}

/* Navbar Container */

.navbar-container {
  display: grid;
  grid-template-columns: 20% auto 20%;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: 
    "title title login" 
    ".       .       . "
    ".     search     . ";
  justify-content: stretch;
  /*border-style: solid;
  border-width: 1px;*/
} 

.title {
  grid-area: title;
  grid-column-start: 1;
  color: #505050;
  /*border-style: solid;
  border-width: 1px;*/
  justify-self: left;
  align-self: center;
  font-size: 25px;
}

.login {
  grid-area: login;
  display: inline-flex;
  /*border-style: solid;
  border-width: 1px;*/
  list-style-type: none;
  padding: 10px;
  
}

.signup {
  grid-area: login;
  display: inline-flex;
  /*border-style: solid;
  border-width: 1px;*/
  list-style-type: none;
  padding: 10px;
  
}
.search { 
    grid-area: search;
    padding:6px 15px 6px 30px;
    margin:3px; 
    outline:none;
    grid-column-start: 3-end;

}

.search-form{
    width:500px;
    margin:0 auto;
    /*border-style: solid;
    border-width: 1px*/

}

.rounded { 
    border-radius:15px; 
    -moz-border-radius:15px; 
    -webkit-border-radius:15px; 
    outline:none;
    width: 400px;
}

/* categories container */

.categories-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  border-style: solid;
  border-width: 1px;
  list-style-type: none;
  margin: 5px;
  padding: 10px;
  background-color: #D3D3D3;
}

/* Events container */

.events-container {
  list-style: none;
  padding: 10px;
  margin: 2em;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill,minmax(200px, 1fr));
  overflow: scroll;
}

.events-container li {
  border: 2px solid grey;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.li-header {
  margin-top: auto;
  border: 1px solid grey;
  background-color: #C0C0C0;
  padding: 10px;
  text-align: center;
}

.events-container .source {
  margin-top: auto;
  border-top: 1px solid grey;
  padding: 10px;
  text-align: center;
}

.body {
  padding: 10px;
  text-align: justify;
}


/* articles */

.articles-container {
  list-style: none;
  margin: 2em;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fill,minmax(175px, 1fr));

  border-style: solid;
  border-color: red;
  border-width: 1px;
}

.articles {
  /*display: grid;
  grid-template-columns: repeat(10, 1fr);*/

  border-style: solid;
  border-color: blue;
  border-width: 1px;

}

.images {
 /* display: grid;
  width: 100px;
  height: 100px;
  border-style: solid;
  border-color: grey;
  border-width: 2px;*/
}

img {
  width: 100px;
  height: auto;
  justify-self: center;
  align-self: center;
}


/* sigin and signup component*/

.signin {
  font-size: 50px;
  border-style: solid;
  border-width: 3px
}

.signup-link {
  font-size: 50px;
  border-style: solid;
  border-width: 3px
}















