body {
  margin: 0;
  padding: 0;
}

/* Header */
.header {
  display: grid;
  grid-template-rows: 80px 50px;
}

/* Nav */
.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #008080;
} 

.title {
  justify-self: start;
  align-self: center;
  padding-left: 25px;
  text-decoration: none;
  color: white;
}

.nav-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-right > a {
  padding: 1em;
  text-decoration: none;
  color: white;
  cursor: pointer;
  font-size: 20px;
}

/* Categories */
.categories {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 2px solid #f1f1f1;
}

.category {
  text-decoration: none;
  color: black;
  font-size: 17px;
}

.selected-category {
  color: #008080;
  font-size: 20px;
}

/* Events container */

.events-container {
  list-style: none;
  padding: 10px;
  padding-left: 150px;
  padding-right: 150px;
  margin: 2em;
  display: grid;
  grid-gap: 20px;
  overflow: scroll;
  text-align: center;
}


.events-container li {
  display: grid;
  grid-template-columns: 1fr 3fr; 
  grid-gap: 40px;
}

.li-header {
  width: 400px;
  height: 150px;
  background-color: #F8F8F8;
  padding: 30px;
  text-align: justify;
}

.event-list-item-right {
  display: flex;
  flex-direction: column;
}

.event-text {
  padding: 10px;
  text-align: justify;
  font-size: 18px;
}

.event-item {
  border: 1px solid lightgrey;
  border-radius: 5px;
  box-shadow: 2px 2px lightgrey;
}

.event-icons {
  display: flex;
  flex-direction: row;
 /* align-items: flex-end;*/
  font-size: 50px;
  justify-content: flex-end;
  color: #008080;
}

.event-chart-icon {
  margin-right: 40px;
}

.event-star-icon {
  margin-right: 40px;
}



/* articles */

.word-map {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.event-top {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column-gap: 50px;
  align-items: center;
}

.event-bottom {
  border-top: 5px solid #008080;
  display: grid;
  align-items: center;
  justify-content: center;
}

.compare-articles {
  justify-self: center;
}

.compare-articles button {
  margin-left: 30px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  padding-right: 20px;
  padding-left: 20px;
  overflow: auto; /* Enable scroll if needed */
  /*background-color: rgb(255,255,255);*/ /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid white;  
}

.article-cols {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

.article-detail {
  padding: 15px;
}

.article-detail-top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* articles */
.articles-container {
  list-style-type: none;
  margin-left: 2em;
  margin-right: 2em;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding-left: 0;
  justify-content: space-between;
} 

.articles-container > li {
  background-color: lightgrey;
  display: flex;
  flex-direction: column; 
  min-height: 800px;
  box-shadow: 3px 3px #888888;
}

.article-body {
  padding-bottom: 10px;
  font-weight: normal;
}

.article {
  text-decoration: none;
  color: black;
  padding:5px;
  margin: 5px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  border: solid lightgrey 1px;
  box-shadow: 3px 3px #888888;
}

.article-selected {
  background-color: #e5e6e8;
}

.article-card-bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.article-card-bottom button {
  justify-self: end;
}

/* gameboard */

.game-board {
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
}

.game-cols {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.game-title {
  display: grid;
  align-items: center;
  justify-content: start;
  grid-template-columns: 1fr 10fr;
  text-align: center;
}

.game-title h1 {
  border: 1px solid black;
  background-color: #008080;
  height: 40px;
  width: 40px;
  color: white;
  border-radius: 5px;
}

.game-bias {
  display: grid;
  grid-gap: 20px;
  justify-content: center;
}

.game-bias img {
  height: 40px;
  width: 40px;
}

.game-article {
  display: grid;
  grid-template-rows: 1fr 1fr 2fr;
  border: 1px solid lightgrey;
  padding: 20px;
  height: 300px;
  width: 450px;
  border-radius: 5px;
  font-size: 20px;
  text-align: center;
  justify-content: start;
  align-items: start;
  margin-top: 50px;
}

svg {
  margin-top: 50px;
}

select {
  margin-top: 20px;
  padding: 10px 20px;
  box-shadow: none;
  border: 1px solid #008080;
  background-image: none;
  -webkit-appearance: none;
}

.game-results {
  display: grid;
  height: 300px;
  width: 450px;
  border: 1px solid lightgrey;
  border-radius: 5px;
}

.correct {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.left, .right, .center {
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 10px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  min-width: 300px;
}

.left {
  color: blue;
}

.center {
  color: grey;
}

.right {
  color: red;
}

.source-image {
  display: grid;
}

.loading {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.loading-spinner {   
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #008080; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


img {
  width: 100px;
  height: 100px;
  align-self: center;
  border-style: solid;
  border-color: white;
  border-width: 2px;
  margin-top: 20px;
  border-radius: 50%;
}

button {
  width: 90px;
  height: 40px;
  border-radius: 5px;
}

button:hover {
  background-color: #e5e6e8;
  cursor: pointer;
}

.fa-caret-left, .fa-caret-right{
  color: #3c3c3d;
  font-size: 4em;
}

.fa-caret-left:hover, .fa-caret-right:hover{
  color: white;
}

.source-image {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /*margin-bottom: 10px;*/
}

.source-title {
  text-align: center;
}

.sources-list {
  list-style-type: none;
}

.hideSource {
  display:none;
}


/* sigin and signup component*/

.signin {
  font-size: 50px;
  border-style: solid;
  border-width: 3px
}
/*
.signup-link {
  font-size: 50px;
  border-style: solid;
  border-width: 3px
}
*/

/* style for sign up page*/

* {
    box-sizing: border-box;
}

/* Add padding to containers */
.container-signin{
    padding: 16px;
    background-color: white;
}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Overwrite default styles of hr */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Set a style for the submit button */
.registerbtn {
    background-color: grey;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.registerbtn:hover {
    opacity: 1;
}

/* Add a blue text color to links */
a {
    color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
    background-color: #f1f1f1;
    text-align: center;
}



/* sign in */

.wrapper {  
  margin-top: 80px;
  margin-bottom: 80px;
}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);  

  .form-signin-heading,
  .checkbox {
    margin-bottom: 30px;
  }

  .checkbox {
    font-weight: normal;
  }

  .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    @include box-sizing(border-box);

    &:focus {
      z-index: 2;
    }
  }

  input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  input[type="password"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}












