body {
  margin: 0;
  padding: 0;
}

/* Header */
.header {
  display: grid;
  grid-template-rows: 1fr 50px;
}

/* Nav */
.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  background-color: #008080;
} 

.navbar h1 {
  letter-spacing: 2px;
  font-size: 1.5cem;
}

.title {
  display: grid;
  grid-template-columns: 70px 1fr;
  grid-gap: 20px;
  align-items: center;
  padding-left: 40px;
  text-decoration: none;
  color: white;
}

.side-menu-icon {
  align-self: center;
}

.sidebar {
  margin-top: -50px;
}

.Collapsible__trigger {
  margin-left: 5px;
  margin-right: 5px;
  display: block;
  text-decoration: none;
  position: relative;
  border: 1px solid white;
  padding: 20px;
  background: #F8F8F8;
}

.Collapsible__contentInner {
  background-color: #008080;
  display: flex;
  flex-direction: column;
}

.sidebar-menu {
  padding-bottom: 5px;
  position:absolute;
  z-index: 10;
  background-color: lightgrey;
  width: 300px;
  display: flex;
  flex-direction: column;
} 

.sidebar-menu-item {
  margin-left: 5px;
  margin-right: 5px;
  background-color: #F8F8F8;
  color: black;
  padding: 20px;
  text-decoration: none;
  border: 1px solid white;
  font-size: 20;
}

.sidebar-event-item {
  margin-left: 5px;
  margin-right: 5px;
  background-color: #F8F8F8;
  color: black;
  padding: 20px;
  padding-left: 50px;
  text-decoration: none;
  border: 1px solid white;
  font-size: 20;
}

.search-bar-container {
  display: flex;
  padding-top: 5px;
  align-items: center;
  justify-content: center;
}

.search-input {
  margin-right: 10px;
  padding: 4px;
  border-radius: 1px;
}

.search-input:focus {
  outline-width: 0;
}

.search-bar-container > a {
  text-decoration: none;
}

.nav-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-right > a {
  padding: 1em;
  text-decoration: none;
  color: white;
  cursor: pointer;
  font-size: 20px;
}

/* Categories */
.categories {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 2px solid #f1f1f1;
  height: 50px;
}

.category {
  text-decoration: none;
  color: black;
  font-size: 17px;
}

.selected-category {
  color: #008080;
  font-size: 20px;
}

/*Profile*/
.profile {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.ratings {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 200px;
  margin-right: 200px;
}

/* Events container */

.events-container {
  list-style: none;
  padding: 10px;
  padding-left: 150px;
  padding-right: 150px;
  margin: 2em;
  display: grid;
  grid-gap: 20px;
  overflow: scroll;
  text-align: center;
}


.events-container li {
  display: grid;
  grid-template-rows: 1fr 70px; 
}

.li-header {
  min-width: 400px;
  height: 150px;
  background-color: #F8F8F8;
  padding: 30px;
  text-align: justify;
}

.event-item-top a {
  display: grid;
  grid-template-columns: 400px 1fr;
  grid-gap: 10px;
  align-items: start;
}

.event-item-bottom {
  display: grid;
  grid-template-columns: 100px 1fr;
}

.event-card-date {
  justify-self: start;
  margin-left: 20px;
}

.event-text {
  padding: 10px;
  text-align: justify;
  font-size: 18px;
}

.event-item {
  border: 1px solid lightgrey;
  border-radius: 5px;
  box-shadow: 2px 2px lightgrey;
}

.event-icons {
  display: flex;
  flex-direction: row;
  font-size: 50px;
  justify-content: flex-end;
  color: #008080;
}

.event-chart-icon {
  margin-top: 0;
  margin-right: 30px;
}

.event-star-icon {
  margin-top: 0;
  margin-right: 30px;
}

.event-detail {
  display: grid;
  grid-gap: 20px;
}

.event-detail-title {
  margin-left: 200px;
  margin-right: 200px;
  letter-spacing: 2px;
  font-size: 2em;
  padding: 10px;
  background-color: #F8F8F8;
  box-shadow: 3px 3px lightgrey;
}

.event-charts {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.event-sources {
  margin: 2em;
  margin-right: 200px;
  margin-left: 200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.event-sources img {
  height: 60px;
  width: 60px;
}

.toggle-bias {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.selected-bias {
  background-color: lightgrey;
}

/* articles */

.word-map {
  grid-area: wordMap;
}

.event-top {
  display: grid;
  grid-template-areas: 
    "wordMap compareTop compareTop"
    "wordMap compareTop compareTop"
    "spectrum spectrum spectrum";
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 50px;
  padding: 20px;
  padding-bottom: 0px;
}

.event-top svg {
   border-right: 1px solid black;
}

.compare-top {
  padding-left: 30px;
  grid-area: compareTop;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "compareOne compareTwo"
    "compareOne compareTwo"
    "compareAll compareAll";
}

.compare-bottom {
  grid-area: compareAll;
  text-align: center;
}

.compare-bottom h3 {
  margin: auto;
  padding: 10px;
  border: 1px solid #008080;
  border-radius: 5px
}

.compare-bottom h3:hover {
  background-color: #008080;
  color: white;
}

.spectrum {

 /* background: linear-gradient(to right, teal, white, teal);*/
  background: linear-gradient(45deg, #008080,#f3f3f3, #f3f3f3,#008080);
  border-radius: 35px;
  padding-left: 30px;
  padding-right: 30px;
  height: 35px;
  grid-area: spectrum;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 20px;
}

.spectrum h2 {
  font-size: 1em;
  letter-spacing: 2px;
}

.event-bottom {
  display: grid;
  align-items: center;
  justify-content: center;
}

.compare-articles {
  justify-self: center;
}

.compare-articles button {
  margin-left: 30px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  padding-right: 20px;
  padding-left: 20px;
  overflow: auto; /* Enable scroll if needed */
  /*background-color: rgb(255,255,255);*/ /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid white;  
}

.modal-content > svg {
  margin-top: 0px;
}

.article-cols {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

.article-detail {
  padding: 15px;
  margin: 20px;
}

.article-detail-top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
}

.article-rating {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.article-detail-body {
  display: grid;
  line-height: 1.5;
  font-size: 18px;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* articles */
.articles-container {
  list-style-type: none;
  margin-left: 2em;
  margin-right: 2em;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding-left: 0;
  justify-content: space-between;
} 

.articles-container > li {
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column; 
  min-height: 800px;
  text-align: center;
}

.article-body {
  padding-bottom: 10px;
  font-weight: normal;
}

.article {
  text-align: start;
  text-decoration: none;
  color: black;
  padding-right:15px;
  padding-left:15px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  border: solid lightgrey 1px;
}

.preview {
  font-size: 14px;
}

.article-title {
  font-size: 18px;
  font-weight: bold;
}

.article-date {
  color: grey;
}


.article-one, .article-two {
  display: grid;
  grid-template-rows: 60px 150px;
}

.article-one {
  grid-area: compareOne;
}

.article-two {
  grid-area: compareTwo;
}

#article-compare-detail-one, #article-compare-detail-two {
  display: grid;
  grid-gap: 10px;
  grid-template-rows: 1fr 1fr;
}

/* The animation code */
@keyframes example {
    from {background-color: #3F4045;}
    to {background-color: #f3f3f3;}
}

.article-compare-title {
  display: grid;
  grid-gap: 10px;
  text-align: justify;
  width: 300px;
  height: 100px;
  background-color: #f3f3f3;
  animation-name: example;
  animation-duration: 2s;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
}

.article-compare-title svg {
  margin: 0;
  border: 0px;
  cursor: pointer;
}

.article-selected {
  background-color: #e5e6e8;
}

/* gameboard */

.game-board {
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
}

.game-cols {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.game-title {
  display: grid;
  align-items: center;
  justify-content: start;
  grid-template-columns: 75px 1fr;
  text-align: center;
}

.game-title h1 {
  border: 1px solid black;
  background-color: #008080;
  height: 40px;
  width: 40px;
  color: white;
  border-radius: 5px;
}

.game-bias {
  display: grid;
  grid-gap: 20px;
  justify-items: center;
  margin-top: 50px;
}

.game-bias img {
  height: 50px;
  width: 50px;
  padding: 5px;
}

.game-article {
  display: grid;
  height: 300px;
  width: 100%;
  border-radius: 5px;
  font-size: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  border: 1px solid lightgrey;
}

.game-article-title {
  margin: 20px;
  background-color: #F8F8F8;
  padding: 20px;
  font-size: 30px;
  font-weight: bold;
  border: solid 2px #008080;
}

.game-results-col button {
  align-self: center;
  margin-top: 30px;
}

#try-again {
  font-size: 30px;
  align-self: center;
  justify-self: center;
}

svg {
  margin-top: 50px;
}

select {
  margin-top: 20px;
  padding: 10px 20px;
  box-shadow: none;
  border: 1px solid #008080;
  background-image: none;
  -webkit-appearance: none;
}

.game-results {
  
  height: 300px;
  width: 100%;
}

.correct {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.left, .right, .center {
  display:flex;
  flex-direction: column;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 10px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  width: 350px;
}

.left:hover, .center:hover, .right:hover {
  background-color: #F8F8F8;
  cursor: pointer;
}

.left {
  color: blue;
}

.center {
  color: grey;
}

.right {
  color: red;
}

.info-circle {
  margin:0;
  justify-self:end;
}

.loading {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.loading-spinner {   
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #008080; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


img {
  width: 100px;
  height: 100px;
  align-self: center;
  border-style: solid;
  border-color: white;
  border-width: 2px;
  margin-top: 20px;
  border-radius: 50%;
}

button {
  width: 90px;
  height: 40px;
  border-radius: 5px;
}

button:hover {
  background-color: #e5e6e8;
  cursor: pointer;
}

.fa-caret-left, .fa-caret-right{
  color: #3c3c3d;
  font-size: 4em;
}

.fa-caret-left:hover, .fa-caret-right:hover{
  color: white;
}

.source-image {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /*margin-bottom: 10px;*/
}

.source-title {
  text-align: center;
}

.sources-list {
  list-style-type: none;
}

.hideSource {
  display:none;
}

.num-sources {
  background-color: darkgrey;
  color: white;
  width: 30px;
  margin-left: 15px;
  border-radius: 50px;
}

/*About page*/
.about-page {
  text-align: center;
  padding-right: 200px;
  padding-left: 200px;
}

.about-page h1 {
  color: #008080;
  margin: 50px;
}

.about, .mission, .faq, .creators, .partners {
  border-bottom: solid 1px lightgrey;
  padding-bottom: 50px;
}

.mission .statements, .faq .questions  {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.statement-icon {
  font-size: 60px;
  color: lightgrey;
  margin-top: 0;
}

.question {
  display: grid;
}

.creators .bios {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.bios img {
  border: 2px solid lightgrey;
}

/* sigin and signup component*/

.signin {
  font-size: 50px;
  border-style: solid;
  border-width: 3px
}
/*
.signup-link {
  font-size: 50px;
  border-style: solid;
  border-width: 3px
}
*/

/* style for sign up page*/

* {
    box-sizing: border-box;
}

/* Add padding to containers */
.container-signin{
    padding: 16px;
    background-color: white;
}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Overwrite default styles of hr */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Set a style for the submit button */
.registerbtn {
    background-color: grey;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.registerbtn:hover {
    opacity: 1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}

.register-page {
  margin: 50px auto;
  max-width: 600px;
}

/* sign in */

.wrapper {  
  margin-top: 80px;
  margin-bottom: 80px;
}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);  

  .form-signin-heading,
  .checkbox {
    margin-bottom: 30px;
  }

  .checkbox {
    font-weight: normal;
  }

  .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    @include box-sizing(border-box);

    &:focus {
      z-index: 2;
    }
  }

  input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  input[type="password"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}












