
body {
  background-color: white;
  margin: 0;
  padding-top: 200px;
}

/* Nav */

.navbar {
  margin-bottom: 1 rem;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #b3b3b3;
} 

.navbar a {
  font-weight: bold;
}


/* Navbar Container */ 

.navbar-container {
  display: grid;
  grid-template-columns: 100px 4fr 1fr;
  justify-content: stretch;
  padding-bottom: 10px; 
  padding-top: 20px;
  padding: 10px;
  height: 100px;
} 

.title {
  grid-column-start: 1;
  text-decoration: none;
  color: black;
  grid-column: 2 / 3;
  align-self: center;
  font-size: 25px;
}

.login {
  justify-self: right;
  align-self: right;
  display: inline-flex;
  grid-column: 3;
  list-style-type: none;
  padding: 10px;
}

.signup {
  justify-self: right;
  align-self: right;
  grid-area: login;
  display: inline-flex;
  grid-column: 3;
  list-style-type: none;
  padding: 10px;
  
}

/* categories container */

.categories-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  border-style: solid;
  border-width: 1px;
  list-style-type: none;
  margin: 5px;
  padding: 10px;
  background-color: #D3D3D3;
  box-shadow: 5px 5px #888888;
}

/* Events container */

.events-container {
  list-style: none;
  padding: 10px;
  padding-left: 150px;
  padding-right: 150px;
  margin: 2em;
  display: grid;
  grid-gap: 20px;
  overflow: scroll;
}

.events-container li {
  display: flex;
  flex-direction: row;
}

.li-header {
  border: 1px solid grey;
  width: 300px;
  height: auto;
  background-color: #D3D3D3;
  padding: 10px;
  text-align: center;
  margin-top: -10px;
  box-shadow: 5px 5px #888888;
}

.body {
  border-top: 1px solid;
  padding: 10px;
  text-align: justify;
  font-size: 18px;
}

/* articles */
.articles-event {
  text-align: center;
}

.event-title, .event-date {
  text-align: center;
}

.articles-container {
  border-top: 20px solid transparent;
  border-image: linear-gradient(to right,darkblue, red);
  border-image-slice: 1;
  list-style-type: none;
  margin-left: 2em;
  margin-right: 2em;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding-top: 20px;
  padding-left: 0;
  justify-content: space-between;
} 

.articles-container > li {
  background-color: lightgrey;
  display: flex;
  flex-direction: column; 
  min-height: 800px;
}

.article-body {
  padding-bottom: 10px;
  font-weight: normal;
}

.article {
  text-decoration: none;
  color: black;
  padding:5px;
  margin: 5px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  border: solid lightgrey 1px;
}

/*.article-img {
  margin-top: 5px;
  border: 1px solid;
  background-color: #C0C0C0;
  padding: 10px;
  text-align: center;
  border: 1px solid grey;
  border-radius: 5px;

}*/

img {
  width: 100px;
  height: 100px;
  align-self: center;
  border-style: solid;
  border-color: white;
  border-width: 2px;
  margin-top: 20px;
  border-radius: 50%;
}

.fa-caret-left, .fa-caret-right{
  color: #3c3c3d;
  font-size: 4em;
}

.fa-caret-left:hover, .fa-caret-right:hover{
  color: white;
}

.source-image {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /*margin-bottom: 10px;*/
}

.source-title {
  text-align: center;
}

.sources-list {
  list-style-type: none;
}

.hideSource {
  display:none;
}


/* sigin and signup component*/

.signin {
  font-size: 50px;
  border-style: solid;
  border-width: 3px
}
/*
.signup-link {
  font-size: 50px;
  border-style: solid;
  border-width: 3px
}
*/

/* style for sign up page*/

* {
    box-sizing: border-box;
}

/* Add padding to containers */
.container-signin{
    padding: 16px;
    background-color: white;
}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Overwrite default styles of hr */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Set a style for the submit button */
.registerbtn {
    background-color: grey;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.registerbtn:hover {
    opacity: 1;
}

/* Add a blue text color to links */
a {
    color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
    background-color: #f1f1f1;
    text-align: center;
}














